@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: 'Verdana, Geneva, Tahoma, sans-serif';
    --fonte2: 'Passion One", sans-serif';
    --fonte3: '"Sriracha", cursive';
}


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte1);
}

header p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    text-align: justify;
}

section p{
 padding-bottom: 2em;
}

section.normal{
    color: black;
    background-color: white;
}

section.imagem{
    background-color: rgb(49, 48, 48);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px black;
}

section.imagem p {
    width: 200px;
    font-family: var(--fonte3);
    background-color: rgba(0, 0, 0, 0.097);
}

section#q1{
    background-image: url(imagem/background001.jpg);
    background-position:right center ;
}

section#q2{
    background-image: url(imagem/background002.jpg);
    background-position:right center ;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


