@font-face {
    font-family:'centurion';
    src: url('font/The\ Centurion\ .ttf') format('truetype'), url('font/The\ Centurion.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

.s {
    font-family: 'centurion', cursive;
    font-size: 1.5em;
    text-align: justify;
    text-indent: 30px;
}

.v {
    color: gold;
}

